openapi: 3.0.3
info:
    title: AcidBot API v2
    version: 2.0.0
    description: |
        API for reading a user's maimai DX profile and score data.

        Every operation identifies an AcidBot user by MongoDB ObjectId. The API reads the
        user's stored CLAL token; clients do not send the token themselves. Requests may
        contact maimai DX and can therefore take several seconds or fail when the upstream
        service is unavailable.

        Fresh Best 50 requests stream newline-delimited JSON packets with a
        `text/event-stream` content type. The payload is not conventional SSE: each line is
        a complete JSON object and is not prefixed with `data:`.
servers:
    - url: https://acid.kvznmx.com
      description: Production
    - url: http://localhost:3000
      description: Local development

tags:
    - name: Best 50
      description: Best 50 scores, cached score metadata, and rendered output.
    - name: Profile
      description: maimai DX profile data.
    - name: Sheets
      description: Score data grouped by level.

paths:
    /api/v2/users/{id}/b50:
        get:
            operationId: getUserBest50
            tags: [Best 50]
            summary: Get a user's Best 50
            description: |
                With `old=false` (the default), fetches the user's score pages from maimai DX,
                enriches the scores with local song metadata, stores the resulting B35/B15
                snapshot, and streams progress and result packets. Stream-level failures are
                returned as error packets in an HTTP `200` response.

                With `old=true`, reads the stored snapshot and returns one JSON document.
                The cached response uses `profileBlock` for the profile field, while the final
                packet in a fresh stream uses `profile`.
            x-side-effects: true
            parameters:
                - $ref: '#/components/parameters/UserId'
                - $ref: '#/components/parameters/IncludeProfile'
                - name: old
                  in: query
                  required: false
                  description: Return the stored Best 50 snapshot instead of fetching current scores.
                  schema:
                      type: boolean
                      default: false
            responses:
                '200':
                    description: |
                        A packet stream for a fresh request, or a single JSON object when
                        `old=true`.
                    content:
                        text/event-stream:
                            schema:
                                $ref: '#/components/schemas/B50PacketStream'
                            example: |
                                {"type":"progress","current":1,"total":6,"url":"https://maimaidx-eng.com/maimai-mobile/record/musicGenre/search/?genre=99&diff=0"}
                                {"type":"status","message":"Parsing download structures..."}
                                {"type":"done","b35":[],"b15":[],"profile":null}
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CachedB50Response'
                '400':
                    description: Malformed input, or incomplete profile data during a cached read.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                '401':
                    description: The user does not have a stored CLAL token.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                '500':
                    description: The cached snapshot could not be read or another server error occurred.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'

    /api/v2/users/{id}/b50/profile:
        get:
            operationId: getUserMaimaiProfile
            tags: [Profile]
            summary: Get a user's maimai DX profile
            description: Fetches the maimai DX home page using the user's stored CLAL token and parses its profile block.
            parameters:
                - $ref: '#/components/parameters/UserId'
            responses:
                '200':
                    description: Parsed profile data. May be `null` when no profile block is found.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/NullableProfile'
                '400':
                    description: The user id is malformed.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                '404':
                    description: The user does not exist or has no stored CLAL token.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                '500':
                    description: The profile could not be fetched or parsed.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'

    /api/v2/users/{id}/b50/tags:
        get:
            operationId: getUserBest50Tags
            tags: [Best 50]
            summary: Get tags for a user's stored Best 50
            description: |
                Joins every score in the stored B15 and B35 snapshot with the matching
                `songTags` record. Scores without a matching tag record are omitted.
            parameters:
                - $ref: '#/components/parameters/UserId'
            responses:
                '200':
                    description: Tag and score metadata for matched Best 50 charts.
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/SongTags'
                '400':
                    description: The user id is malformed.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                '404':
                    description: No stored Best 50 snapshot exists for the user.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                '500':
                    description: The snapshot or tag data could not be read.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'

    /api/v2/users/{id}/b50/image:
        get:
            operationId: renderUserBest50Image
            tags: [Best 50]
            summary: Render a user's Best 50 image
            description: |
                Renders a 1400 by 1600 JPEG from the user's Best 50 and profile. Unless
                `old=true`, resolving the Best 50 may fetch current upstream data and update
                the stored snapshot.
            x-side-effects: true
            parameters:
                - $ref: '#/components/parameters/UserId'
                - name: old
                  in: query
                  required: false
                  description: Render from the stored Best 50 snapshot.
                  schema:
                      type: boolean
                      default: false
            responses:
                '200':
                    description: Rendered 1400 by 1600 Best 50 image.
                    content:
                        image/jpeg:
                            schema:
                                type: string
                                format: binary
                '400':
                    description: The user id or query parameters are malformed.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                '502':
                    description: The internal Best 50 request returned a non-success status.
                    content:
                        text/plain:
                            schema:
                                type: string
                            example: Upstream fetch failed
                '500':
                    description: The Best 50 response could not be decoded or the image could not be rendered.

    /api/v2/users/{id}/sheets/level:
        post:
            operationId: getUserScoresByLevel
            tags: [Sheets]
            summary: Get a user's scores for a level
            description: |
                Fetches the requested maimai DX level page, parses its score rows, and
                enriches each score with local song metadata. This operation has no request
                body; its inputs are path and query parameters.
            parameters:
                - $ref: '#/components/parameters/UserId'
                - name: level
                  in: query
                  required: true
                  description: maimai DX level search code.
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 23
                - $ref: '#/components/parameters/IncludeProfile'
            responses:
                '200':
                    description: Enriched scores for the requested level and an optional profile.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/LevelScoresResponse'
                '400':
                    description: The user id, level, or profile flag is malformed.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                '401':
                    description: The stored CLAL token could not be used to fetch maimai DX.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                '404':
                    description: The user has no stored CLAL token, or the level page contained no scores.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'
                '500':
                    description: Score or song metadata could not be fetched or processed.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ErrorResponse'

components:
    parameters:
        UserId:
            name: id
            in: path
            required: true
            description: AcidBot user's MongoDB ObjectId.
            schema:
                type: string
                pattern: '^[0-9a-fA-F]{24}$'
                example: 507f1f77bcf86cd799439011
        IncludeProfile:
            name: profile
            in: query
            required: false
            description: Fetch and include the user's maimai DX profile.
            schema:
                type: boolean
                default: false

    schemas:
        ErrorResponse:
            type: object
            additionalProperties: false
            required: [error, code]
            properties:
                error:
                    type: string
                code:
                    $ref: '#/components/schemas/ErrorCode'

        ErrorCode:
            type: string
            enum:
                - USER_NOT_FOUND
                - USER_NOT_FOUND_OR_NO_PREV
                - INVALID_CLAL_TOKEN
                - UPSTREAM_MAINTENANCE
                - MALFORMED_REQUEST
                - DATABASE_ERROR
                - FETCH_ERROR

        UserCollectionCount:
            type: object
            additionalProperties: false
            required: [img, text]
            properties:
                img:
                    type: string
                    nullable: true
                    description: Same-origin proxied collection badge URL.
                text:
                    type: string
                    nullable: true
                    description: Collection count text.

        ParsedProfile:
            type: object
            additionalProperties: false
            required:
                - profilePicture
                - dan
                - rank
                - userName
                - userDetail
                - userCollectionCount
            properties:
                profilePicture:
                    type: string
                    nullable: true
                    description: Same-origin proxied profile image URL.
                dan:
                    type: string
                    nullable: true
                    description: Same-origin proxied dan badge URL.
                rank:
                    type: string
                    nullable: true
                    description: Same-origin proxied rank badge URL.
                userName:
                    type: string
                    nullable: true
                userDetail:
                    type: string
                    nullable: true
                userCollectionCount:
                    allOf:
                        - $ref: '#/components/schemas/UserCollectionCount'
                    nullable: true

        NullableProfile:
            allOf:
                - $ref: '#/components/schemas/ParsedProfile'
            nullable: true

        B50Score:
            type: object
            additionalProperties: false
            required:
                - name
                - score
                - diff
                - dx
                - isDx
                - sync
                - combo
                - rank
                - levelConst
                - rating
                - dateIntlAdded
                - achievement
                - jacketURL
            properties:
                name:
                    type: string
                    description: Song title.
                score:
                    type: string
                    description: Achievement string as shown by maimai DX.
                    example: 100.5000%
                diff:
                    type: string
                    description: Lowercase chart difficulty.
                    enum: [basic, advanced, expert, master, remaster]
                dx:
                    type: string
                    description: DX score as shown by maimai DX.
                    example: 1,234/1,500
                isDx:
                    type: string
                    description: Chart type.
                    enum: [dx, std]
                sync:
                    type: string
                    nullable: true
                    description: Sync status, when earned.
                combo:
                    type: string
                    nullable: true
                    description: Full combo status, when earned.
                rank:
                    type: string
                    nullable: true
                    description: Achievement rank.
                levelConst:
                    type: number
                    format: float
                    description: Internal chart level constant.
                rating:
                    type: integer
                    description: Rating contribution calculated for this score.
                dateIntlAdded:
                    type: string
                    description: International song release date in `YYYYMMDD` form.
                    example: '20260122'
                achievement:
                    type: number
                    format: double
                    description: Numeric achievement percentage without the percent sign.
                jacketURL:
                    type: string
                    description: Jacket filename or URL stored in song metadata.

        Best50Scores:
            type: object
            additionalProperties: false
            required: [b35, b15]
            properties:
                b35:
                    type: array
                    maxItems: 35
                    items:
                        $ref: '#/components/schemas/B50Score'
                b15:
                    type: array
                    maxItems: 15
                    items:
                        $ref: '#/components/schemas/B50Score'

        CachedB50Response:
            type: object
            additionalProperties: false
            required: [b35, b15, profileBlock]
            properties:
                b35:
                    type: array
                    maxItems: 35
                    items:
                        $ref: '#/components/schemas/B50Score'
                b15:
                    type: array
                    maxItems: 15
                    items:
                        $ref: '#/components/schemas/B50Score'
                profileBlock:
                    $ref: '#/components/schemas/ParsedProfile'

        B50ProgressPacket:
            type: object
            additionalProperties: false
            required: [type, current, total, url]
            properties:
                type:
                    type: string
                    enum: [progress]
                current:
                    type: integer
                    minimum: 1
                total:
                    type: integer
                    minimum: 1
                url:
                    type: string
                    format: uri

        B50StatusPacket:
            type: object
            additionalProperties: false
            required: [type, message]
            properties:
                type:
                    type: string
                    enum: [status]
                message:
                    type: string

        B50ErrorPacket:
            type: object
            additionalProperties: false
            required: [type, code, message]
            properties:
                type:
                    type: string
                    enum: [error]
                code:
                    type: string
                    description: An `ErrorCode` value, or `UNKNOWN` for an unclassified failure.
                message:
                    type: string

        B50DonePacket:
            type: object
            additionalProperties: false
            required: [type, b35, b15, profile]
            properties:
                type:
                    type: string
                    enum: [done]
                b35:
                    type: array
                    maxItems: 35
                    items:
                        $ref: '#/components/schemas/B50Score'
                b15:
                    type: array
                    maxItems: 15
                    items:
                        $ref: '#/components/schemas/B50Score'
                profile:
                    $ref: '#/components/schemas/NullableProfile'

        B50StreamPacket:
            oneOf:
                - $ref: '#/components/schemas/B50ProgressPacket'
                - $ref: '#/components/schemas/B50StatusPacket'
                - $ref: '#/components/schemas/B50ErrorPacket'
                - $ref: '#/components/schemas/B50DonePacket'
            discriminator:
                propertyName: type
                mapping:
                    progress: '#/components/schemas/B50ProgressPacket'
                    status: '#/components/schemas/B50StatusPacket'
                    error: '#/components/schemas/B50ErrorPacket'
                    done: '#/components/schemas/B50DonePacket'

        B50PacketStream:
            type: string
            description: |
                UTF-8 stream containing one `B50StreamPacket` JSON object per line. Consumers
                should buffer partial chunks and split complete packets on newline characters.
            x-stream-item-schema:
                $ref: '#/components/schemas/B50StreamPacket'

        SongTags:
            type: object
            additionalProperties: false
            required: [achievement, levelConst, tags]
            properties:
                achievement:
                    type: number
                    format: double
                levelConst:
                    type: number
                    format: float
                tags:
                    type: array
                    items:
                        type: integer

        LevelScoresResponse:
            type: object
            additionalProperties: false
            required: [level, profile]
            properties:
                level:
                    type: array
                    items:
                        $ref: '#/components/schemas/B50Score'
                profile:
                    $ref: '#/components/schemas/NullableProfile'
